.elementor-146 .elementor-element.elementor-element-cea58de:not(.elementor-motion-effects-element-type-background),
.elementor-146 .elementor-element.elementor-element-cea58de>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url(../../../../../../images/Contact/MainBanner.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.elementor-146 .elementor-element.elementor-element-cea58de>.elementor-background-overlay {
    background-image: url("../../2021/11/selective-focus-of-happy-businessman-in-headset-smiling-in-office.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-146 .elementor-element.elementor-element-cea58de {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 7em 0em 7em 0em;
}

.elementor-146 .elementor-element.elementor-element-7c2d1d3>.elementor-element-populated>.elementor-background-overlay {
    background-color: var(--e-global-color-a185853);
    opacity: 0.9;
}

.elementor-146 .elementor-element.elementor-element-7c2d1d3>.elementor-element-populated,
.elementor-146 .elementor-element.elementor-element-7c2d1d3>.elementor-element-populated>.elementor-background-overlay,
.elementor-146 .elementor-element.elementor-element-7c2d1d3>.elementor-background-slideshow {
    border-radius: 3px 3px 0px 0px;
}

.elementor-146 .elementor-element.elementor-element-7c2d1d3>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 3em 3em 8em 3em;
}

.elementor-146 .elementor-element.elementor-element-7c2d1d3>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-146 .elementor-element.elementor-element-76acdf8 .elementor-heading-title {
    color: var(--e-global-color-a291686);
}

.elementor-146 .elementor-element.elementor-element-3e39cc9 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(16px/2);
}

.elementor-146 .elementor-element.elementor-element-3e39cc9 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(16px/2);
}

.elementor-146 .elementor-element.elementor-element-3e39cc9 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(16px/2);
    margin-left: calc(16px/2);
}

.elementor-146 .elementor-element.elementor-element-3e39cc9 .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-16px/2);
    margin-left: calc(-16px/2);
}

body.rtl .elementor-146 .elementor-element.elementor-element-3e39cc9 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-16px/2);
}

body:not(.rtl) .elementor-146 .elementor-element.elementor-element-3e39cc9 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-16px/2);
}

.elementor-146 .elementor-element.elementor-element-3e39cc9 .elementor-icon-list-icon i {
    color: var(--e-global-color-c0f7fc2);
    transition: color 0.3s;
}

.elementor-146 .elementor-element.elementor-element-3e39cc9 .elementor-icon-list-icon svg {
    fill: var(--e-global-color-c0f7fc2);
    transition: fill 0.3s;
}

.elementor-146 .elementor-element.elementor-element-3e39cc9 {
    --e-icon-list-icon-size: 14px;
    --icon-vertical-offset: 0px;
}

.elementor-146 .elementor-element.elementor-element-3e39cc9 .elementor-icon-list-icon {
    padding-right: 16px;
}

.elementor-146 .elementor-element.elementor-element-3e39cc9 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-146 .elementor-element.elementor-element-3e39cc9 .elementor-icon-list-item>a {
    font-family: var(--e-global-typography-7044a64-font-family), Sans-serif;
    font-size: var(--e-global-typography-7044a64-font-size);
    font-weight: var(--e-global-typography-7044a64-font-weight);
    line-height: var(--e-global-typography-7044a64-line-height);
    letter-spacing: var(--e-global-typography-7044a64-letter-spacing);
    word-spacing: var(--e-global-typography-7044a64-word-spacing);
}

.elementor-146 .elementor-element.elementor-element-3e39cc9 .elementor-icon-list-text {
    color: var(--e-global-color-a291686);
    transition: color 0.3s;
}

.elementor-146 .elementor-element.elementor-element-cedb2e3 {
    padding: 7em 0em 7em 0em;
}

.elementor-146 .elementor-element.elementor-element-4a5f27d.ekit-equal-height-enable,
.elementor-146 .elementor-element.elementor-element-4a5f27d.ekit-equal-height-enable .elementor-widget-container,
.elementor-146 .elementor-element.elementor-element-4a5f27d.ekit-equal-height-enable .ekit-wid-con,
.elementor-146 .elementor-element.elementor-element-4a5f27d.ekit-equal-height-enable .ekit-wid-con .elementskit-infobox {
    height: 100%;
}

.elementor-146 .elementor-element.elementor-element-4a5f27d .elementskit-infobox {
    background-color: var(--e-global-color-a291686);
    padding: 2em 2em 2em 2em;
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    border-color: #f5f5f5;
    border-radius: -2px -2px -2px -2px;
}

.elementor-146 .elementor-element.elementor-element-4a5f27d .elementskit-infobox .elementskit-info-box-title {
    padding: 0px 0px 0px 0px;
    font-family: var(--e-global-typography-83682a1-font-family), Sans-serif;
    font-size: var(--e-global-typography-83682a1-font-size);
    font-weight: var(--e-global-typography-83682a1-font-weight);
    line-height: var(--e-global-typography-83682a1-line-height);
    letter-spacing: var(--e-global-typography-83682a1-letter-spacing);
    word-spacing: var(--e-global-typography-83682a1-word-spacing);
}

.elementor-146 .elementor-element.elementor-element-4a5f27d .elementskit-infobox .box-body>p {
    font-family: var(--e-global-typography-b2ce6af-font-family), Sans-serif;
    font-size: var(--e-global-typography-b2ce6af-font-size);
    line-height: var(--e-global-typography-b2ce6af-line-height);
    letter-spacing: var(--e-global-typography-b2ce6af-letter-spacing);
    word-spacing: var(--e-global-typography-b2ce6af-word-spacing);
}

.elementor-146 .elementor-element.elementor-element-4a5f27d .elementkit-infobox-icon {
    color: var(--e-global-color-a11ce4f);
}

.elementor-146 .elementor-element.elementor-element-4a5f27d .elementskit-info-box-icon>svg path {
    fill: var(--e-global-color-a11ce4f);
    stroke: var(--e-global-color-a11ce4f);
}

.elementor-146 .elementor-element.elementor-element-4a5f27d .elementskit-infobox .elementskit-info-box-icon i {
    font-size: 40px;
}

.elementor-146 .elementor-element.elementor-element-4a5f27d .elementskit-info-box-icon>svg {
    max-width: 40px;
    height: auto;
}

.elementor-146 .elementor-element.elementor-element-4a5f27d .elementskit-infobox .elementskit-info-box-icon {
    transform: rotate(0deg);
}

.elementor-146 .elementor-element.elementor-element-4a5f27d .elementskit-btn {
    margin: 1em 0em 0em 0em;
    font-family: var(--e-global-typography-520c191-font-family), Sans-serif;
    font-size: var(--e-global-typography-520c191-font-size);
    font-weight: var(--e-global-typography-520c191-font-weight);
    line-height: var(--e-global-typography-520c191-line-height);
    letter-spacing: var(--e-global-typography-520c191-letter-spacing);
    word-spacing: var(--e-global-typography-520c191-word-spacing);
    color: var(--e-global-color-a291686);
    background-color: var(--e-global-color-a185853);
    border-radius: 1px 1px 1px 1px;
}

.elementor-146 .elementor-element.elementor-element-4a5f27d .elementskit-btn svg path {
    stroke: var(--e-global-color-a291686);
    fill: var(--e-global-color-a291686);
}

.elementor-146 .elementor-element.elementor-element-4a5f27d .elementskit-infobox:hover .elementskit-btn {
    color: var(--e-global-color-a291686);
    background-color: var(--e-global-color-c0f7fc2);
}

.elementor-146 .elementor-element.elementor-element-4a5f27d .elementskit-infobox:hover .elementskit-btn svg path {
    stroke: var(--e-global-color-a291686);
    fill: var(--e-global-color-a291686);
}

.elementor-146 .elementor-element.elementor-element-c7f45fb.ekit-equal-height-enable,
.elementor-146 .elementor-element.elementor-element-c7f45fb.ekit-equal-height-enable .elementor-widget-container,
.elementor-146 .elementor-element.elementor-element-c7f45fb.ekit-equal-height-enable .ekit-wid-con,
.elementor-146 .elementor-element.elementor-element-c7f45fb.ekit-equal-height-enable .ekit-wid-con .elementskit-infobox {
    height: 100%;
}

.elementor-146 .elementor-element.elementor-element-c7f45fb .elementskit-infobox {
    background-color: var(--e-global-color-a291686);
    padding: 2em 2em 2em 2em;
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    border-color: #f5f5f5;
    border-radius: -2px -2px -2px -2px;
}

.elementor-146 .elementor-element.elementor-element-c7f45fb .elementskit-infobox .elementskit-info-box-title {
    padding: 0px 0px 0px 0px;
    font-family: var(--e-global-typography-83682a1-font-family), Sans-serif;
    font-size: var(--e-global-typography-83682a1-font-size);
    font-weight: var(--e-global-typography-83682a1-font-weight);
    line-height: var(--e-global-typography-83682a1-line-height);
    letter-spacing: var(--e-global-typography-83682a1-letter-spacing);
    word-spacing: var(--e-global-typography-83682a1-word-spacing);
}

.elementor-146 .elementor-element.elementor-element-c7f45fb .elementskit-infobox .box-body>p {
    font-family: var(--e-global-typography-b2ce6af-font-family), Sans-serif;
    font-size: var(--e-global-typography-b2ce6af-font-size);
    line-height: var(--e-global-typography-b2ce6af-line-height);
    letter-spacing: var(--e-global-typography-b2ce6af-letter-spacing);
    word-spacing: var(--e-global-typography-b2ce6af-word-spacing);
}

.elementor-146 .elementor-element.elementor-element-c7f45fb .elementkit-infobox-icon {
    color: var(--e-global-color-a11ce4f);
}

.elementor-146 .elementor-element.elementor-element-c7f45fb .elementskit-info-box-icon>svg path {
    fill: var(--e-global-color-a11ce4f);
    stroke: var(--e-global-color-a11ce4f);
}

.elementor-146 .elementor-element.elementor-element-c7f45fb .elementskit-infobox .elementskit-info-box-icon i {
    font-size: 40px;
}

.elementor-146 .elementor-element.elementor-element-c7f45fb .elementskit-info-box-icon>svg {
    max-width: 40px;
    height: auto;
}

.elementor-146 .elementor-element.elementor-element-c7f45fb .elementskit-infobox .elementskit-info-box-icon {
    transform: rotate(0deg);
}

.elementor-146 .elementor-element.elementor-element-c7f45fb .elementskit-btn {
    margin: 1em 0em 0em 0em;
    font-family: var(--e-global-typography-520c191-font-family), Sans-serif;
    font-size: var(--e-global-typography-520c191-font-size);
    font-weight: var(--e-global-typography-520c191-font-weight);
    line-height: var(--e-global-typography-520c191-line-height);
    letter-spacing: var(--e-global-typography-520c191-letter-spacing);
    word-spacing: var(--e-global-typography-520c191-word-spacing);
    color: var(--e-global-color-a291686);
    background-color: var(--e-global-color-a185853);
    border-radius: 1px 1px 1px 1px;
}

.elementor-146 .elementor-element.elementor-element-c7f45fb .elementskit-btn svg path {
    stroke: var(--e-global-color-a291686);
    fill: var(--e-global-color-a291686);
}

.elementor-146 .elementor-element.elementor-element-c7f45fb .elementskit-infobox:hover .elementskit-btn {
    color: var(--e-global-color-a291686);
    background-color: var(--e-global-color-c0f7fc2);
}

.elementor-146 .elementor-element.elementor-element-c7f45fb .elementskit-infobox:hover .elementskit-btn svg path {
    stroke: var(--e-global-color-a291686);
    fill: var(--e-global-color-a291686);
}

.elementor-146 .elementor-element.elementor-element-175d26c.ekit-equal-height-enable,
.elementor-146 .elementor-element.elementor-element-175d26c.ekit-equal-height-enable .elementor-widget-container,
.elementor-146 .elementor-element.elementor-element-175d26c.ekit-equal-height-enable .ekit-wid-con,
.elementor-146 .elementor-element.elementor-element-175d26c.ekit-equal-height-enable .ekit-wid-con .elementskit-infobox {
    height: 100%;
}

.elementor-146 .elementor-element.elementor-element-175d26c .elementskit-infobox {
    background-color: var(--e-global-color-a291686);
    padding: 2em 2em 2em 2em;
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    border-color: #f5f5f5;
    border-radius: -2px -2px -2px -2px;
}

.elementor-146 .elementor-element.elementor-element-175d26c .elementskit-infobox .elementskit-info-box-title {
    padding: 0px 0px 0px 0px;
    font-family: var(--e-global-typography-83682a1-font-family), Sans-serif;
    font-size: var(--e-global-typography-83682a1-font-size);
    font-weight: var(--e-global-typography-83682a1-font-weight);
    line-height: var(--e-global-typography-83682a1-line-height);
    letter-spacing: var(--e-global-typography-83682a1-letter-spacing);
    word-spacing: var(--e-global-typography-83682a1-word-spacing);
}

.elementor-146 .elementor-element.elementor-element-175d26c .elementskit-infobox .box-body>p {
    font-family: var(--e-global-typography-b2ce6af-font-family), Sans-serif;
    font-size: var(--e-global-typography-b2ce6af-font-size);
    line-height: var(--e-global-typography-b2ce6af-line-height);
    letter-spacing: var(--e-global-typography-b2ce6af-letter-spacing);
    word-spacing: var(--e-global-typography-b2ce6af-word-spacing);
}

.elementor-146 .elementor-element.elementor-element-175d26c .elementkit-infobox-icon {
    color: var(--e-global-color-a11ce4f);
}

.elementor-146 .elementor-element.elementor-element-175d26c .elementskit-info-box-icon>svg path {
    fill: var(--e-global-color-a11ce4f);
    stroke: var(--e-global-color-a11ce4f);
}

.elementor-146 .elementor-element.elementor-element-175d26c .elementskit-infobox .elementskit-info-box-icon i {
    font-size: 40px;
}

.elementor-146 .elementor-element.elementor-element-175d26c .elementskit-info-box-icon>svg {
    max-width: 40px;
    height: auto;
}

.elementor-146 .elementor-element.elementor-element-175d26c .elementskit-infobox .elementskit-info-box-icon {
    transform: rotate(0deg);
}

.elementor-146 .elementor-element.elementor-element-175d26c .elementskit-btn {
    margin: 1em 0em 0em 0em;
    font-family: var(--e-global-typography-520c191-font-family), Sans-serif;
    font-size: var(--e-global-typography-520c191-font-size);
    font-weight: var(--e-global-typography-520c191-font-weight);
    line-height: var(--e-global-typography-520c191-line-height);
    letter-spacing: var(--e-global-typography-520c191-letter-spacing);
    word-spacing: var(--e-global-typography-520c191-word-spacing);
    color: var(--e-global-color-a291686);
    background-color: var(--e-global-color-a185853);
    border-radius: 1px 1px 1px 1px;
}

.elementor-146 .elementor-element.elementor-element-175d26c .elementskit-btn svg path {
    stroke: var(--e-global-color-a291686);
    fill: var(--e-global-color-a291686);
}

.elementor-146 .elementor-element.elementor-element-175d26c .elementskit-infobox:hover .elementskit-btn {
    color: var(--e-global-color-a291686);
    background-color: var(--e-global-color-c0f7fc2);
}

.elementor-146 .elementor-element.elementor-element-175d26c .elementskit-infobox:hover .elementskit-btn svg path {
    stroke: var(--e-global-color-a291686);
    fill: var(--e-global-color-a291686);
}

.elementor-146 .elementor-element.elementor-element-663c94c>.elementor-container {
    max-width: 840px;
}

.elementor-146 .elementor-element.elementor-element-663c94c:not(.elementor-motion-effects-element-type-background),
.elementor-146 .elementor-element.elementor-element-663c94c>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-c0f7fc2);
}

.elementor-146 .elementor-element.elementor-element-663c94c>.elementor-background-overlay {
    background-image: url("../../2021/11/muslim-woman-using-voice-assistant-on-cellphone.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-146 .elementor-element.elementor-element-663c94c {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 7em 0em 12em 0em;
}

.elementor-146 .elementor-element.elementor-element-a46903c>.elementor-element-populated {
    padding: 3em 3em 3em 3em;
}

.elementor-146 .elementor-element.elementor-element-b0431c2 {
    text-align: center;
}

.elementor-146 .elementor-element.elementor-element-b0431c2 .elementor-heading-title {
    color: var(--e-global-color-a291686);
}

.elementor-146 .elementor-element.elementor-element-4e6d6a5 {
    text-align: center;
    color: var(--e-global-color-a291686);
}

.elementor-146 .elementor-element.elementor-element-57b3235 .video-content {
    text-align: center;
}

.elementor-146 .elementor-element.elementor-element-57b3235 .ekit-video-popup-btn {
    width: 60px;
    height: 60px;
    color: var(--e-global-color-dea41e4);
    background-color: var(--e-global-color-a291686);
}

.elementor-146 .elementor-element.elementor-element-57b3235 .ekit-video-popup-btn.glow-btn:before {
    color: var(--e-global-color-a11ce4f);
}

.elementor-146 .elementor-element.elementor-element-57b3235 .ekit-video-popup-btn.glow-btn:after {
    color: var(--e-global-color-a11ce4f);
}

.elementor-146 .elementor-element.elementor-element-57b3235 .ekit-video-popup-btn.glow-btn>i:after {
    color: var(--e-global-color-a11ce4f);
}

.elementor-146 .elementor-element.elementor-element-57b3235 .ekit-video-popup-btn svg path {
    stroke: var(--e-global-color-dea41e4);
    fill: var(--e-global-color-dea41e4);
}

.elementor-146 .elementor-element.elementor-element-57b3235 .ekit-video-popup-btn:hover {
    color: var(--e-global-color-a185853);
    background-color: var(--e-global-color-a291686);
}

.elementor-146 .elementor-element.elementor-element-57b3235 .ekit-video-popup-btn:hover svg path {
    stroke: var(--e-global-color-a185853);
    fill: var(--e-global-color-a185853);
}

.elementor-146 .elementor-element.elementor-element-a4d8e83>.elementor-container {
    max-width: 840px;
}

.elementor-146 .elementor-element.elementor-element-a4d8e83:not(.elementor-motion-effects-element-type-background),
.elementor-146 .elementor-element.elementor-element-a4d8e83>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url(../../../../../../images/Contact/Section02BG.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.elementor-146 .elementor-element.elementor-element-a4d8e83>.elementor-background-overlay {
    background-image: url("../../2021/11/the-abstract-office-desktop.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.05;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-146 .elementor-element.elementor-element-a4d8e83 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 6em 0em 6em 0em;
}

.elementor-146 .elementor-element.elementor-element-5b531f4:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-146 .elementor-element.elementor-element-5b531f4>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #00316b;
    color: #fff;
}

.elementor-146 .elementor-element.elementor-element-5b531f4>.elementor-element-populated,
.elementor-146 .elementor-element.elementor-element-5b531f4>.elementor-element-populated>.elementor-background-overlay,
.elementor-146 .elementor-element.elementor-element-5b531f4>.elementor-background-slideshow {
    border-radius: 3px 3px 3px 3px;
}

.elementor-146 .elementor-element.elementor-element-5b531f4>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0em 0em 0em 0em;
    --e-column-margin-right: 0em;
    --e-column-margin-left: 0em;
    padding: 3em 3em 3em 3em;
}

.elementor-146 .elementor-element.elementor-element-5b531f4>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-146 .elementor-element.elementor-element-dbfaeb0 {
    text-align: center;
}

.elementor-146 .elementor-element.elementor-element-7d19a91 .elementor-field-group {
    padding-right: calc(10px/2);
    padding-left: calc(10px/2);
    margin-bottom: 10px;
}

.elementor-146 .elementor-element.elementor-element-7d19a91 .elementor-form-fields-wrapper {
    margin-left: calc(-10px/2);
    margin-right: calc(-10px/2);
    margin-bottom: -10px;
}

.elementor-146 .elementor-element.elementor-element-7d19a91 .elementor-field-group.recaptcha_v3-bottomleft,
.elementor-146 .elementor-element.elementor-element-7d19a91 .elementor-field-group.recaptcha_v3-bottomright {
    margin-bottom: 0;
}

body.rtl .elementor-146 .elementor-element.elementor-element-7d19a91 .elementor-labels-inline .elementor-field-group>label {
    padding-left: 0px;
}

body:not(.rtl) .elementor-146 .elementor-element.elementor-element-7d19a91 .elementor-labels-inline .elementor-field-group>label {
    padding-right: 0px;
}

body .elementor-146 .elementor-element.elementor-element-7d19a91 .elementor-labels-above .elementor-field-group>label {
    padding-bottom: 0px;
}

.elementor-146 .elementor-element.elementor-element-7d19a91 .elementor-field-type-html {
    padding-bottom: 0px;
}

.elementor-146 .elementor-element.elementor-element-7d19a91 .e-form__buttons__wrapper__button-next {
    color: #ffffff;
}

.elementor-146 .elementor-element.elementor-element-7d19a91 .elementor-button[type="submit"] {
    color: #011e3c;
    margin-top: 35px;
}

.elementor-146 .elementor-element.elementor-element-7d19a91 .elementor-button[type="submit"] svg * {
    fill: #ffffff;
}

.elementor-146 .elementor-element.elementor-element-7d19a91 .e-form__buttons__wrapper__button-previous {
    color: #ffffff;
}

.elementor-146 .elementor-element.elementor-element-7d19a91 .e-form__buttons__wrapper__button-next:hover {
    color: #ffffff;
}

.elementor-146 .elementor-element.elementor-element-7d19a91 .elementor-button[type="submit"]:hover {
    color: #ffffff;
}

.elementor-146 .elementor-element.elementor-element-7d19a91 .elementor-button[type="submit"]:hover svg * {
    fill: #ffffff;
}

.elementor-146 .elementor-element.elementor-element-7d19a91 .e-form__buttons__wrapper__button-previous:hover {
    color: #ffffff;
}

.elementor-146 .elementor-element.elementor-element-7d19a91 {
    --e-form-steps-indicators-spacing: 20px;
    --e-form-steps-indicator-padding: 30px;
    --e-form-steps-indicator-inactive-secondary-color: #ffffff;
    --e-form-steps-indicator-active-secondary-color: #ffffff;
    --e-form-steps-indicator-completed-secondary-color: #ffffff;
    --e-form-steps-divider-width: 1px;
    --e-form-steps-divider-gap: 10px;
}

.elementor-146 .elementor-element.elementor-element-af92836 {
    padding: 0em 0em 7em 0em;
}

.elementor-146 .elementor-element.elementor-element-39595ee {
    text-align: center;
}

.elementor-146 .elementor-element.elementor-element-c9102e2 {
    --grid-template-columns: repeat(0, auto);
    --icon-size: 21px;
    --grid-column-gap: 5px;
    --grid-row-gap: 0px;
}

.elementor-146 .elementor-element.elementor-element-c9102e2 .elementor-widget-container {
    text-align: center;
}

.elementor-146 .elementor-element.elementor-element-c9102e2 .elementor-social-icon {
    background-color: var(--e-global-color-a185853);
}

.elementor-146 .elementor-element.elementor-element-c9102e2 .elementor-social-icon i {
    color: var(--e-global-color-a291686);
}

.elementor-146 .elementor-element.elementor-element-c9102e2 .elementor-social-icon svg {
    fill: var(--e-global-color-a291686);
}

.elementor-146 .elementor-element.elementor-element-c9102e2 .elementor-icon {
    border-radius: 1px 1px 1px 1px;
}

.elementor-146 .elementor-element.elementor-element-c9102e2 .elementor-social-icon:hover {
    background-color: var(--e-global-color-c0f7fc2);
}

.elementor-146 .elementor-element.elementor-element-c9102e2 .elementor-social-icon:hover i {
    color: var(--e-global-color-a291686);
}

.elementor-146 .elementor-element.elementor-element-c9102e2 .elementor-social-icon:hover svg {
    fill: var(--e-global-color-a291686);
}

@media(max-width:1024px) {

    .elementor-146 .elementor-element.elementor-element-3e39cc9 .elementor-icon-list-item>.elementor-icon-list-text,
    .elementor-146 .elementor-element.elementor-element-3e39cc9 .elementor-icon-list-item>a {
        font-size: var(--e-global-typography-7044a64-font-size);
        line-height: var(--e-global-typography-7044a64-line-height);
        letter-spacing: var(--e-global-typography-7044a64-letter-spacing);
        word-spacing: var(--e-global-typography-7044a64-word-spacing);
    }

    .elementor-146 .elementor-element.elementor-element-cedb2e3 {
        padding: 3em 0em 3em 0em;
    }

    .elementor-146 .elementor-element.elementor-element-4a5f27d .elementskit-infobox {
        padding: 1em 1em 1em 1em;
    }

    .elementor-146 .elementor-element.elementor-element-4a5f27d .elementskit-infobox .elementskit-info-box-title {
        font-size: var(--e-global-typography-83682a1-font-size);
        line-height: var(--e-global-typography-83682a1-line-height);
        letter-spacing: var(--e-global-typography-83682a1-letter-spacing);
        word-spacing: var(--e-global-typography-83682a1-word-spacing);
    }

    .elementor-146 .elementor-element.elementor-element-4a5f27d .elementskit-infobox .box-body>p {
        font-size: var(--e-global-typography-b2ce6af-font-size);
        line-height: var(--e-global-typography-b2ce6af-line-height);
        letter-spacing: var(--e-global-typography-b2ce6af-letter-spacing);
        word-spacing: var(--e-global-typography-b2ce6af-word-spacing);
    }

    .elementor-146 .elementor-element.elementor-element-4a5f27d .elementskit-btn {
        font-size: var(--e-global-typography-520c191-font-size);
        line-height: var(--e-global-typography-520c191-line-height);
        letter-spacing: var(--e-global-typography-520c191-letter-spacing);
        word-spacing: var(--e-global-typography-520c191-word-spacing);
    }

    .elementor-146 .elementor-element.elementor-element-c7f45fb .elementskit-infobox {
        padding: 1em 1em 1em 1em;
    }

    .elementor-146 .elementor-element.elementor-element-c7f45fb .elementskit-infobox .elementskit-info-box-title {
        font-size: var(--e-global-typography-83682a1-font-size);
        line-height: var(--e-global-typography-83682a1-line-height);
        letter-spacing: var(--e-global-typography-83682a1-letter-spacing);
        word-spacing: var(--e-global-typography-83682a1-word-spacing);
    }

    .elementor-146 .elementor-element.elementor-element-c7f45fb .elementskit-infobox .box-body>p {
        font-size: var(--e-global-typography-b2ce6af-font-size);
        line-height: var(--e-global-typography-b2ce6af-line-height);
        letter-spacing: var(--e-global-typography-b2ce6af-letter-spacing);
        word-spacing: var(--e-global-typography-b2ce6af-word-spacing);
    }

    .elementor-146 .elementor-element.elementor-element-c7f45fb .elementskit-btn {
        font-size: var(--e-global-typography-520c191-font-size);
        line-height: var(--e-global-typography-520c191-line-height);
        letter-spacing: var(--e-global-typography-520c191-letter-spacing);
        word-spacing: var(--e-global-typography-520c191-word-spacing);
    }

    .elementor-146 .elementor-element.elementor-element-175d26c .elementskit-infobox {
        padding: 1em 1em 1em 1em;
    }

    .elementor-146 .elementor-element.elementor-element-175d26c .elementskit-infobox .elementskit-info-box-title {
        font-size: var(--e-global-typography-83682a1-font-size);
        line-height: var(--e-global-typography-83682a1-line-height);
        letter-spacing: var(--e-global-typography-83682a1-letter-spacing);
        word-spacing: var(--e-global-typography-83682a1-word-spacing);
    }

    .elementor-146 .elementor-element.elementor-element-175d26c .elementskit-infobox .box-body>p {
        font-size: var(--e-global-typography-b2ce6af-font-size);
        line-height: var(--e-global-typography-b2ce6af-line-height);
        letter-spacing: var(--e-global-typography-b2ce6af-letter-spacing);
        word-spacing: var(--e-global-typography-b2ce6af-word-spacing);
    }

    .elementor-146 .elementor-element.elementor-element-175d26c .elementskit-btn {
        font-size: var(--e-global-typography-520c191-font-size);
        line-height: var(--e-global-typography-520c191-line-height);
        letter-spacing: var(--e-global-typography-520c191-letter-spacing);
        word-spacing: var(--e-global-typography-520c191-word-spacing);
    }

    .elementor-146 .elementor-element.elementor-element-a4d8e83 {
        padding: 3em 2em 3em 2em;
    }

    .elementor-146 .elementor-element.elementor-element-af92836 {
        padding: 0em 0em 3em 0em;
    }
}

@media(max-width:767px) {
    .elementor-146 .elementor-element.elementor-element-cea58de {
        padding: 0em 0em 0em 0em;
    }

    .elementor-146 .elementor-element.elementor-element-7c2d1d3>.elementor-element-populated {
        padding: 3em 3em 3em 3em;
    }

    .elementor-146 .elementor-element.elementor-element-76acdf8 {
        text-align: center;
    }

    .elementor-146 .elementor-element.elementor-element-3e39cc9 .elementor-icon-list-item>.elementor-icon-list-text,
    .elementor-146 .elementor-element.elementor-element-3e39cc9 .elementor-icon-list-item>a {
        font-size: var(--e-global-typography-7044a64-font-size);
        line-height: var(--e-global-typography-7044a64-line-height);
        letter-spacing: var(--e-global-typography-7044a64-letter-spacing);
        word-spacing: var(--e-global-typography-7044a64-word-spacing);
    }

    .elementor-146 .elementor-element.elementor-element-cedb2e3 {
        padding: 2em 0em 2em 0em;
    }

    .elementor-146 .elementor-element.elementor-element-4a5f27d .elementskit-infobox .elementskit-info-box-title {
        font-size: var(--e-global-typography-83682a1-font-size);
        line-height: var(--e-global-typography-83682a1-line-height);
        letter-spacing: var(--e-global-typography-83682a1-letter-spacing);
        word-spacing: var(--e-global-typography-83682a1-word-spacing);
    }

    .elementor-146 .elementor-element.elementor-element-4a5f27d .elementskit-infobox .box-body>p {
        font-size: var(--e-global-typography-b2ce6af-font-size);
        line-height: var(--e-global-typography-b2ce6af-line-height);
        letter-spacing: var(--e-global-typography-b2ce6af-letter-spacing);
        word-spacing: var(--e-global-typography-b2ce6af-word-spacing);
    }

    .elementor-146 .elementor-element.elementor-element-4a5f27d .elementskit-btn {
        font-size: var(--e-global-typography-520c191-font-size);
        line-height: var(--e-global-typography-520c191-line-height);
        letter-spacing: var(--e-global-typography-520c191-letter-spacing);
        word-spacing: var(--e-global-typography-520c191-word-spacing);
    }

    .elementor-146 .elementor-element.elementor-element-c7f45fb .elementskit-infobox .elementskit-info-box-title {
        font-size: var(--e-global-typography-83682a1-font-size);
        line-height: var(--e-global-typography-83682a1-line-height);
        letter-spacing: var(--e-global-typography-83682a1-letter-spacing);
        word-spacing: var(--e-global-typography-83682a1-word-spacing);
    }

    .elementor-146 .elementor-element.elementor-element-c7f45fb .elementskit-infobox .box-body>p {
        font-size: var(--e-global-typography-b2ce6af-font-size);
        line-height: var(--e-global-typography-b2ce6af-line-height);
        letter-spacing: var(--e-global-typography-b2ce6af-letter-spacing);
        word-spacing: var(--e-global-typography-b2ce6af-word-spacing);
    }

    .elementor-146 .elementor-element.elementor-element-c7f45fb .elementskit-btn {
        font-size: var(--e-global-typography-520c191-font-size);
        line-height: var(--e-global-typography-520c191-line-height);
        letter-spacing: var(--e-global-typography-520c191-letter-spacing);
        word-spacing: var(--e-global-typography-520c191-word-spacing);
    }

    .elementor-146 .elementor-element.elementor-element-175d26c .elementskit-infobox .elementskit-info-box-title {
        font-size: var(--e-global-typography-83682a1-font-size);
        line-height: var(--e-global-typography-83682a1-line-height);
        letter-spacing: var(--e-global-typography-83682a1-letter-spacing);
        word-spacing: var(--e-global-typography-83682a1-word-spacing);
    }

    .elementor-146 .elementor-element.elementor-element-175d26c .elementskit-infobox .box-body>p {
        font-size: var(--e-global-typography-b2ce6af-font-size);
        line-height: var(--e-global-typography-b2ce6af-line-height);
        letter-spacing: var(--e-global-typography-b2ce6af-letter-spacing);
        word-spacing: var(--e-global-typography-b2ce6af-word-spacing);
    }

    .elementor-146 .elementor-element.elementor-element-175d26c .elementskit-btn {
        font-size: var(--e-global-typography-520c191-font-size);
        line-height: var(--e-global-typography-520c191-line-height);
        letter-spacing: var(--e-global-typography-520c191-letter-spacing);
        word-spacing: var(--e-global-typography-520c191-word-spacing);
    }

    .elementor-146 .elementor-element.elementor-element-663c94c {
        padding: 2em 0em 9em 0em;
    }

    .elementor-146 .elementor-element.elementor-element-a4d8e83 {
        padding: 3em 1em 2em 1em;
    }

    .elementor-146 .elementor-element.elementor-element-5b531f4>.elementor-element-populated {
        padding: 2em 2em 2em 2em;
    }

    .elementor-146 .elementor-element.elementor-element-af92836 {
        padding: 0em 0em 2em 0em;
    }
}

@media(min-width:768px) {

    .elementor-element-a5beaf0{
		width: 33% !important;
	}
	.elementor-element-f6d51b7{
		width: 40% !important;
	}
	.elementor-element-839b0da{
		width: 27% !important;
		padding-left: 4%;
	}
}

.elementor-element-3a8cb68 h4{
    font-family: Heebo, Sans-serif;
    font-size: 24px;
}

.elementor-element-cea58de-token {
    background-image: url(../../../../../../images/Tokenomics/Tokenomics-MainBanner.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 238px;
}

.elementor-element-a4d8e83-token{
    background-image: url(../../../../../../images/Contact/Section02BG.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 6em 2em 2em 2em;
}
#totalsupply-card {
    display: flex;
    justify-content: space-evenly;
    margin-top: 32px;
}
.card-token, .card-token-1 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 30px 0px 41px 0px;
    width: 34%;
}
.card-token{
    background-color: #002142;
}
.card-token-1 {
    background-color: #003269;
    box-shadow: -18px 13px 27px 2px #cb9906;
}
.elementor-element-5b531f4-token-1 {
    background: #fec107;
    padding: 1em 0em 2em 0em;
    margin-top: -110px;
}
.elementor-element-5b531f4-token-1 h4 {
    text-align: center;
    color: #735d07cc;
    margin-bottom: -9px;
}
.elementor-element-5b531f4-token-1 h2 {
    text-align: center;
    color: #021d3a;
    font-size: 57px;
    font-weight: 700;
}
#totalsupply-card h1{
    margin-bottom: -9px;
    color: #fecb00;
    text-align: center;
    font-weight: 700;
}
#totalsupply-card h4{
    color: #fff;
}
.elementor-element-5b531f4-token-2 {
    display: flex;
    padding: 3em 2em 0em 2em;
    align-items: flex-end;
}
.elementor-element-5b531f4-token-2 .elementor-col-60 {
    width: 60%;
}
.elementor-element-5b531f4-token-2 .elementor-col-40 {
    width: 40%;
}
#token-data {
    display: flex;
    align-items: flex-end;
    color: #fdcd00;
    margin-bottom: -13px;
}
#token-data h3 {
    margin-right: 12px;
    font-weight: 600;
    font-size: 28px;
}
#token-data h4 {
    font-weight: 600;
    font-size: 20px;
}
.elementor-element-5b531f4-token-details h2 {
    font-size: 50px;
    font-weight: 700;
}
#token-data-sub p{
    font-size: 23px;
    color: #d7dce2;
    margin-bottom: 7px;
}
#token-data-main {
    padding-left: 15%;
}

@media only screen and (min-width: 900px) and (max-width: 1200px) {
    .elementor-element-cea58de-token {
        height: 178px;
    }
    .elementor-element-5b531f4-token-details h2{
        line-height: 30px;
    }
}

@media only screen and (min-width: 600px) and (max-width: 1000px) {
    .elementor-146 .elementor-element.elementor-element-cea58de{
        padding: 1em 0em 7em 0em;
    }
    .elementor-nav-menu--toggle .elementor-menu-toggle.elementor-active+.elementor-nav-menu__container{
		width: 700px !important;
		left: 21px !important;
	}
    .elementor-element-cea58de-token {
        height: 134px;
    }
    .elementor-element-5b531f4-token-2 {
        padding: 2em 0em 0em 0em;
        align-items: center;
    }
    .card-token, .card-token-1{
        padding: 12px 0px 22px 0px;
        width: 44%;
    }
    .elementor-element-5b531f4-token-details h2{
        line-height: 30px;
        font-size: 40px;
    }
    .elementor-element-5b531f4-token-1 h2 {
        font-size: 45px;
    }
}

@media only screen and (max-width: 600px) {
    .elementor-146 .elementor-element.elementor-element-cea58de{
        padding: 1em 0em 7em 0em;
        background-position: bottom;
    }
    .elementor-element-aaa00c1 .elementor-heading-title  {
        text-align: center !important;
    }
    .elementor-206 .elementor-element.elementor-element-ea96a7d{
        padding: 35px !important;
    }
    .elementor-nav-menu--toggle .elementor-menu-toggle.elementor-active+.elementor-nav-menu__container{
		width: 300px !important;
		left: 25px !important;
	}
    .elementor-element-cea58de-token {
        height: 82px;
    }
    .card-token, .card-token-1 {
        width: 90%;
        margin: auto;
    }
    .elementor-element-5b531f4-token-1 h2 {
        font-size: 31px;
    }
    #totalsupply-card {
        flex-direction: column;
    }
    .elementor-element-5b531f4-token-1{
        margin-top: -66px;
    }
    .card-token-1{
        padding: 30px 0px 41px 17px !important;
        box-shadow: -7px 10px 11px 2px #cb9906;
    }
    .elementor-element-5b531f4-token-2 {
        padding: 0% !important;
        flex-direction: column;
    }
    .elementor-element-5b531f4-token-2 .elementor-col-60, .elementor-element-5b531f4-token-2 .elementor-col-40 {
        width: 100%;
    }
    .elementor-element-5b531f4-token-details h2 {
        font-size: 34px;
        line-height: 25px;
        margin-top: 40px;
    }
    .elementor-element-5b531f4-token-details h2 > span {
        font-size: 19px !important;
    }
    #token-data-main {
        padding-left: 11%;
    }
    .elementor-element-5b531f4-token-2 .elementor-col-60 {
        margin-bottom: 45px;
    }
    #token-data h3 {
        font-size: 24px;
    }
    #token-data h4, #token-data-sub p{
        font-size: 17px;
    }
}