.elementor-417 .elementor-element.elementor-element-70b0d96:not(.elementor-motion-effects-element-type-background),
.elementor-417 .elementor-element.elementor-element-70b0d96>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url(../../../../../../images/About/MainBanner.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.elementor-417 .elementor-element.elementor-element-70b0d96>.elementor-background-overlay {
    background-image: url("../../2021/11/attractive-caucasian-woman-sit-at-homeoffice-room-wearing-headset.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-417 .elementor-element.elementor-element-70b0d96 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 7em 0em 7em 0em;
}

.elementor-417 .elementor-element.elementor-element-b8d52a6>.elementor-element-populated>.elementor-background-overlay {
    background-color: var(--e-global-color-a185853);
    opacity: 0.9;
}

.elementor-417 .elementor-element.elementor-element-b8d52a6>.elementor-element-populated,
.elementor-417 .elementor-element.elementor-element-b8d52a6>.elementor-element-populated>.elementor-background-overlay,
.elementor-417 .elementor-element.elementor-element-b8d52a6>.elementor-background-slideshow {
    border-radius: 3px 3px 0px 0px;
}

.elementor-417 .elementor-element.elementor-element-b8d52a6>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 3em 3em 8em 3em;
}

.elementor-417 .elementor-element.elementor-element-b8d52a6>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-417 .elementor-element.elementor-element-fad6a66 .elementor-heading-title {
    color: var(--e-global-color-a291686);
}

.elementor-417 .elementor-element.elementor-element-6ffdbe5 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(16px/2);
}

.elementor-417 .elementor-element.elementor-element-6ffdbe5 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(16px/2);
}

.elementor-417 .elementor-element.elementor-element-6ffdbe5 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(16px/2);
    margin-left: calc(16px/2);
}

.elementor-417 .elementor-element.elementor-element-6ffdbe5 .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-16px/2);
    margin-left: calc(-16px/2);
}

body.rtl .elementor-417 .elementor-element.elementor-element-6ffdbe5 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-16px/2);
}

body:not(.rtl) .elementor-417 .elementor-element.elementor-element-6ffdbe5 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-16px/2);
}

.elementor-417 .elementor-element.elementor-element-6ffdbe5 .elementor-icon-list-icon i {
    color: var(--e-global-color-c0f7fc2);
    transition: color 0.3s;
}

.elementor-417 .elementor-element.elementor-element-6ffdbe5 .elementor-icon-list-icon svg {
    fill: var(--e-global-color-c0f7fc2);
    transition: fill 0.3s;
}

.elementor-417 .elementor-element.elementor-element-6ffdbe5 {
    --e-icon-list-icon-size: 14px;
    --icon-vertical-offset: 0px;
}

.elementor-417 .elementor-element.elementor-element-6ffdbe5 .elementor-icon-list-icon {
    padding-right: 16px;
}

.elementor-417 .elementor-element.elementor-element-6ffdbe5 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-417 .elementor-element.elementor-element-6ffdbe5 .elementor-icon-list-item>a {
    font-family: var(--e-global-typography-7044a64-font-family), Sans-serif;
    font-size: var(--e-global-typography-7044a64-font-size);
    font-weight: var(--e-global-typography-7044a64-font-weight);
    line-height: var(--e-global-typography-7044a64-line-height);
    letter-spacing: var(--e-global-typography-7044a64-letter-spacing);
    word-spacing: var(--e-global-typography-7044a64-word-spacing);
}

.elementor-417 .elementor-element.elementor-element-6ffdbe5 .elementor-icon-list-text {
    color: var(--e-global-color-a291686);
    transition: color 0.3s;
}

.elementor-417 .elementor-element.elementor-element-e5aa2c6 {
    padding: 7em 0em 7em 0em;
}

.elementor-417 .elementor-element.elementor-element-8fb7650 img {
    width: 100vw;
    max-width: 35vw;
    height: 525px;
    object-fit: cover;
    object-position: center center;
    border-radius: 3px 3px 3px 3px;
}

.elementor-417 .elementor-element.elementor-element-9981b9a:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-417 .elementor-element.elementor-element-9981b9a>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-a291686);
}

.elementor-417 .elementor-element.elementor-element-9981b9a>.elementor-element-populated,
.elementor-417 .elementor-element.elementor-element-9981b9a>.elementor-element-populated>.elementor-background-overlay,
.elementor-417 .elementor-element.elementor-element-9981b9a>.elementor-background-slideshow {
    border-radius: 3px 3px 3px 3px;
}

.elementor-417 .elementor-element.elementor-element-9981b9a>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 2em 0em 2em 0em;
    --e-column-margin-right: 0em;
    --e-column-margin-left: 0em;
}

.elementor-417 .elementor-element.elementor-element-9981b9a>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-417 .elementor-element.elementor-element-c38fd5d {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-417 .elementor-element.elementor-element-c38fd5d>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-417 .elementor-element.elementor-element-9f3b16e>.elementor-element-populated {
    padding: 3em 1em 3em 3em;
}

.elementor-417 .elementor-element.elementor-element-e2c1df7>.elementor-element-populated {
    padding: 3em 3em 3em 2em;
}

.elementor-417 .elementor-element.elementor-element-18f4c93:not(.elementor-motion-effects-element-type-background),
.elementor-417 .elementor-element.elementor-element-18f4c93>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url(../../../../../../images/About/02/Section02BG.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.elementor-417 .elementor-element.elementor-element-18f4c93>.elementor-background-overlay {
    background-image: url(../../../../../../images/About/02/Section02BG.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.elementor-417 .elementor-element.elementor-element-18f4c93 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 2em 0em 2em 0em;
    color: #013162;
}

.elementor-417 .elementor-element.elementor-element-5f9e742>.elementor-element-populated {
    padding: 3em 3em 3em 3em;
}

.elementor-417 .elementor-element.elementor-element-2999889 {
    padding: 4.5em 0em 4.5em 0em;
    background-image: url(../../../../../../images/About/03/Section03BG.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: aliceblue;
}

.elementor-417 .elementor-element.elementor-element-78ad10e img {
    object-fit: cover;
}

.elementor-417 .elementor-element.elementor-element-96a6659>.elementor-element-populated {
    padding: 3em 3em 3em 3em;
}

.elementor-417 .elementor-element.elementor-element-2dff3af {
    padding: 4em 0em 3em 0em;
    background-image: url(../../../../../../images/About/04/Section04BG.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: #013162;
}

.elementor-417 .elementor-element.elementor-element-3b7ec05 {
    text-align: center;
}

.elementor-417 .elementor-element.elementor-element-46d7b08 {
    text-align: center;
}

.elementor-417 .elementor-element.elementor-element-8fdd3de {
    text-align: center;
}

.elementor-417 .elementor-element.elementor-element-191ff73.ekit-equal-height-enable,
.elementor-417 .elementor-element.elementor-element-191ff73.ekit-equal-height-enable .elementor-widget-container,
.elementor-417 .elementor-element.elementor-element-191ff73.ekit-equal-height-enable .ekit-wid-con,
.elementor-417 .elementor-element.elementor-element-191ff73.ekit-equal-height-enable .ekit-wid-con .elementskit-infobox {
    height: 100%;
}

.elementor-417 .elementor-element.elementor-element-191ff73 .elementskit-infobox {
    background-color: #ffffff4d;
    padding: 2em 2em 2em 2em;
    border-style: solid;
    border-width: 2px;
    border-color: #e7d370;
    border-radius: -2px -2px -2px -2px;
}

.elementor-417 .elementor-element.elementor-element-191ff73 .elementskit-infobox .elementskit-info-box-title {
    padding: 0px 0px 0px 0px;
    font-family: var(--e-global-typography-83682a1-font-family), Sans-serif;
    font-size: var(--e-global-typography-83682a1-font-size);
    font-weight: var(--e-global-typography-83682a1-font-weight);
    line-height: var(--e-global-typography-83682a1-line-height);
    letter-spacing: var(--e-global-typography-83682a1-letter-spacing);
    word-spacing: var(--e-global-typography-83682a1-word-spacing);
}

.elementor-417 .elementor-element.elementor-element-191ff73 .elementskit-infobox .box-body>p {
    font-family: var(--e-global-typography-b2ce6af-font-family), Sans-serif;
    font-size: var(--e-global-typography-b2ce6af-font-size);
    line-height: var(--e-global-typography-b2ce6af-line-height);
    letter-spacing: var(--e-global-typography-b2ce6af-letter-spacing);
    word-spacing: var(--e-global-typography-b2ce6af-word-spacing);
}

.elementor-417 .elementor-element.elementor-element-191ff73 .elementkit-infobox-icon {
    color: var(--e-global-color-a11ce4f);
}

.elementor-417 .elementor-element.elementor-element-191ff73 .elementskit-info-box-icon>svg path {
    fill: var(--e-global-color-a11ce4f);
    stroke: var(--e-global-color-a11ce4f);
}

.elementor-417 .elementor-element.elementor-element-191ff73 .elementskit-infobox .elementskit-info-box-icon i {
    font-size: 40px;
}

.elementor-417 .elementor-element.elementor-element-191ff73 .elementskit-info-box-icon>svg {
    max-width: 40px;
    height: auto;
}

.elementor-417 .elementor-element.elementor-element-191ff73 .elementskit-infobox .elementskit-info-box-icon {
    transform: rotate(0deg);
}

.elementor-417 .elementor-element.elementor-element-0d3eb96.ekit-equal-height-enable,
.elementor-417 .elementor-element.elementor-element-0d3eb96.ekit-equal-height-enable .elementor-widget-container,
.elementor-417 .elementor-element.elementor-element-0d3eb96.ekit-equal-height-enable .ekit-wid-con,
.elementor-417 .elementor-element.elementor-element-0d3eb96.ekit-equal-height-enable .ekit-wid-con .elementskit-infobox {
    height: 100%;
}

.elementor-417 .elementor-element.elementor-element-0d3eb96 .elementskit-infobox {
    background-color: #ffffff4d;
    padding: 2em 2em 2em 2em;
    border-style: solid;
    border-width: 2px;
    border-color: #e7d370;
    border-radius: -2px -2px -2px -2px;
}

.elementor-417 .elementor-element.elementor-element-0d3eb96 .elementskit-infobox .elementskit-info-box-title {
    padding: 0px 0px 0px 0px;
    font-family: var(--e-global-typography-83682a1-font-family), Sans-serif;
    font-size: var(--e-global-typography-83682a1-font-size);
    font-weight: var(--e-global-typography-83682a1-font-weight);
    line-height: var(--e-global-typography-83682a1-line-height);
    letter-spacing: var(--e-global-typography-83682a1-letter-spacing);
    word-spacing: var(--e-global-typography-83682a1-word-spacing);
}

.elementor-417 .elementor-element.elementor-element-0d3eb96 .elementskit-infobox .box-body>p {
    font-family: var(--e-global-typography-b2ce6af-font-family), Sans-serif;
    font-size: var(--e-global-typography-b2ce6af-font-size);
    line-height: var(--e-global-typography-b2ce6af-line-height);
    letter-spacing: var(--e-global-typography-b2ce6af-letter-spacing);
    word-spacing: var(--e-global-typography-b2ce6af-word-spacing);
}

.elementor-417 .elementor-element.elementor-element-0d3eb96 .elementkit-infobox-icon {
    color: var(--e-global-color-a11ce4f);
}

.elementor-417 .elementor-element.elementor-element-0d3eb96 .elementskit-info-box-icon>svg path {
    fill: var(--e-global-color-a11ce4f);
    stroke: var(--e-global-color-a11ce4f);
}

.elementor-417 .elementor-element.elementor-element-0d3eb96 .elementskit-infobox .elementskit-info-box-icon i {
    font-size: 40px;
}

.elementor-417 .elementor-element.elementor-element-0d3eb96 .elementskit-info-box-icon>svg {
    max-width: 40px;
    height: auto;
}

.elementor-417 .elementor-element.elementor-element-0d3eb96 .elementskit-infobox .elementskit-info-box-icon {
    transform: rotate(0deg);
}

.elementor-417 .elementor-element.elementor-element-f06d775.ekit-equal-height-enable,
.elementor-417 .elementor-element.elementor-element-f06d775.ekit-equal-height-enable .elementor-widget-container,
.elementor-417 .elementor-element.elementor-element-f06d775.ekit-equal-height-enable .ekit-wid-con,
.elementor-417 .elementor-element.elementor-element-f06d775.ekit-equal-height-enable .ekit-wid-con .elementskit-infobox {
    height: 100%;
}

.elementor-417 .elementor-element.elementor-element-f06d775 .elementskit-infobox {
    background-color: #ffffff4d;
    padding: 2em 2em 2em 2em;
    border-style: solid;
    border-width: 2px;
    border-color: #e7d370;
    border-radius: -2px -2px -2px -2px;
}

.elementor-417 .elementor-element.elementor-element-f06d775 .elementskit-infobox .elementskit-info-box-title {
    padding: 0px 0px 0px 0px;
    font-family: var(--e-global-typography-83682a1-font-family), Sans-serif;
    font-size: var(--e-global-typography-83682a1-font-size);
    font-weight: var(--e-global-typography-83682a1-font-weight);
    line-height: var(--e-global-typography-83682a1-line-height);
    letter-spacing: var(--e-global-typography-83682a1-letter-spacing);
    word-spacing: var(--e-global-typography-83682a1-word-spacing);
}

.elementor-417 .elementor-element.elementor-element-f06d775 .elementskit-infobox .box-body>p {
    font-family: var(--e-global-typography-b2ce6af-font-family), Sans-serif;
    font-size: var(--e-global-typography-b2ce6af-font-size);
    line-height: var(--e-global-typography-b2ce6af-line-height);
    letter-spacing: var(--e-global-typography-b2ce6af-letter-spacing);
    word-spacing: var(--e-global-typography-b2ce6af-word-spacing);
}

.elementor-417 .elementor-element.elementor-element-f06d775 .elementkit-infobox-icon {
    color: var(--e-global-color-a11ce4f);
}

.elementor-417 .elementor-element.elementor-element-f06d775 .elementskit-info-box-icon>svg path {
    fill: var(--e-global-color-a11ce4f);
    stroke: var(--e-global-color-a11ce4f);
}

.elementor-417 .elementor-element.elementor-element-f06d775 .elementskit-infobox .elementskit-info-box-icon i {
    font-size: 40px;
}

.elementor-417 .elementor-element.elementor-element-f06d775 .elementskit-info-box-icon>svg {
    max-width: 40px;
    height: auto;
}

.elementor-417 .elementor-element.elementor-element-f06d775 .elementskit-infobox .elementskit-info-box-icon {
    transform: rotate(0deg);
}

.elementor-417 .elementor-element.elementor-element-73e9241>.elementor-container {
    max-width: 840px;
}

.elementor-417 .elementor-element.elementor-element-73e9241:not(.elementor-motion-effects-element-type-background),
.elementor-417 .elementor-element.elementor-element-73e9241>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-c0f7fc2);
}

.elementor-417 .elementor-element.elementor-element-73e9241>.elementor-background-overlay {
    background-image: url("../../2021/11/muslim-woman-using-voice-assistant-on-cellphone.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-417 .elementor-element.elementor-element-73e9241 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 7em 0em 7em 0em;
}

.elementor-417 .elementor-element.elementor-element-a202567>.elementor-element-populated {
    padding: 3em 3em 3em 3em;
}

.elementor-417 .elementor-element.elementor-element-74ede74 {
    text-align: center;
}

.elementor-417 .elementor-element.elementor-element-74ede74 .elementor-heading-title {
    color: var(--e-global-color-a291686);
}

.elementor-417 .elementor-element.elementor-element-33e8afc {
    text-align: center;
    color: var(--e-global-color-a291686);
}

.elementor-417 .elementor-element.elementor-element-c61e750 .video-content {
    text-align: center;
}

.elementor-417 .elementor-element.elementor-element-c61e750 .ekit-video-popup-btn {
    width: 60px;
    height: 60px;
    color: var(--e-global-color-dea41e4);
    background-color: var(--e-global-color-a291686);
}

.elementor-417 .elementor-element.elementor-element-c61e750 .ekit-video-popup-btn.glow-btn:before {
    color: var(--e-global-color-a11ce4f);
}

.elementor-417 .elementor-element.elementor-element-c61e750 .ekit-video-popup-btn.glow-btn:after {
    color: var(--e-global-color-a11ce4f);
}

.elementor-417 .elementor-element.elementor-element-c61e750 .ekit-video-popup-btn.glow-btn>i:after {
    color: var(--e-global-color-a11ce4f);
}

.elementor-417 .elementor-element.elementor-element-c61e750 .ekit-video-popup-btn svg path {
    stroke: var(--e-global-color-dea41e4);
    fill: var(--e-global-color-dea41e4);
}

.elementor-417 .elementor-element.elementor-element-c61e750 .ekit-video-popup-btn:hover {
    color: var(--e-global-color-a185853);
    background-color: var(--e-global-color-a291686);
}

.elementor-417 .elementor-element.elementor-element-c61e750 .ekit-video-popup-btn:hover svg path {
    stroke: var(--e-global-color-a185853);
    fill: var(--e-global-color-a185853);
}

@media(max-width:1024px) {

    .elementor-417 .elementor-element.elementor-element-6ffdbe5 .elementor-icon-list-item>.elementor-icon-list-text,
    .elementor-417 .elementor-element.elementor-element-6ffdbe5 .elementor-icon-list-item>a {
        font-size: var(--e-global-typography-7044a64-font-size);
        line-height: var(--e-global-typography-7044a64-line-height);
        letter-spacing: var(--e-global-typography-7044a64-letter-spacing);
        word-spacing: var(--e-global-typography-7044a64-word-spacing);
    }

    .elementor-417 .elementor-element.elementor-element-e5aa2c6 {
        padding: 3em 0em 3em 0em;
    }

    .elementor-417 .elementor-element.elementor-element-9f3b16e>.elementor-element-populated {
        padding: 3em 3em 3em 3em;
    }

    .elementor-417 .elementor-element.elementor-element-e2c1df7>.elementor-element-populated {
        padding: 3em 3em 3em 3em;
    }

    .elementor-417 .elementor-element.elementor-element-18f4c93 {
        padding: 3em 0em 3em 0em;
    }

    .elementor-417 .elementor-element.elementor-element-2999889 {
        padding: 3em 0em 3em 0em;
    }

    .elementor-417 .elementor-element.elementor-element-2dff3af {
        padding: 3em 0em;
        background-position: bottom;
    }

    .elementor-417 .elementor-element.elementor-element-191ff73 .elementskit-infobox {
        padding: 1em 1em 1em 1em;
    }

    .elementor-417 .elementor-element.elementor-element-191ff73 .elementskit-infobox .elementskit-info-box-title {
        font-size: var(--e-global-typography-83682a1-font-size);
        line-height: var(--e-global-typography-83682a1-line-height);
        letter-spacing: var(--e-global-typography-83682a1-letter-spacing);
        word-spacing: var(--e-global-typography-83682a1-word-spacing);
    }

    .elementor-417 .elementor-element.elementor-element-191ff73 .elementskit-infobox .box-body>p {
        font-size: var(--e-global-typography-b2ce6af-font-size);
        line-height: var(--e-global-typography-b2ce6af-line-height);
        letter-spacing: var(--e-global-typography-b2ce6af-letter-spacing);
        word-spacing: var(--e-global-typography-b2ce6af-word-spacing);
    }

    .elementor-417 .elementor-element.elementor-element-0d3eb96 .elementskit-infobox {
        padding: 1em 1em 1em 1em;
    }

    .elementor-417 .elementor-element.elementor-element-0d3eb96 .elementskit-infobox .elementskit-info-box-title {
        font-size: var(--e-global-typography-83682a1-font-size);
        line-height: var(--e-global-typography-83682a1-line-height);
        letter-spacing: var(--e-global-typography-83682a1-letter-spacing);
        word-spacing: var(--e-global-typography-83682a1-word-spacing);
    }

    .elementor-417 .elementor-element.elementor-element-0d3eb96 .elementskit-infobox .box-body>p {
        font-size: var(--e-global-typography-b2ce6af-font-size);
        line-height: var(--e-global-typography-b2ce6af-line-height);
        letter-spacing: var(--e-global-typography-b2ce6af-letter-spacing);
        word-spacing: var(--e-global-typography-b2ce6af-word-spacing);
    }

    .elementor-417 .elementor-element.elementor-element-f06d775 .elementskit-infobox {
        padding: 1em 1em 1em 1em;
    }

    .elementor-417 .elementor-element.elementor-element-f06d775 .elementskit-infobox .elementskit-info-box-title {
        font-size: var(--e-global-typography-83682a1-font-size);
        line-height: var(--e-global-typography-83682a1-line-height);
        letter-spacing: var(--e-global-typography-83682a1-letter-spacing);
        word-spacing: var(--e-global-typography-83682a1-word-spacing);
    }

    .elementor-417 .elementor-element.elementor-element-f06d775 .elementskit-infobox .box-body>p {
        font-size: var(--e-global-typography-b2ce6af-font-size);
        line-height: var(--e-global-typography-b2ce6af-line-height);
        letter-spacing: var(--e-global-typography-b2ce6af-letter-spacing);
        word-spacing: var(--e-global-typography-b2ce6af-word-spacing);
    }
}

@media(max-width:767px) {
    .elementor-417 .elementor-element.elementor-element-70b0d96 {
        padding: 0em 0em 0em 0em;
    }

    .elementor-417 .elementor-element.elementor-element-b8d52a6>.elementor-element-populated {
        padding: 3em 3em 3em 3em;
    }

    .elementor-417 .elementor-element.elementor-element-fad6a66 {
        text-align: center;
    }

    .elementor-417 .elementor-element.elementor-element-6ffdbe5 .elementor-icon-list-item>.elementor-icon-list-text,
    .elementor-417 .elementor-element.elementor-element-6ffdbe5 .elementor-icon-list-item>a {
        font-size: var(--e-global-typography-7044a64-font-size);
        line-height: var(--e-global-typography-7044a64-line-height);
        letter-spacing: var(--e-global-typography-7044a64-letter-spacing);
        word-spacing: var(--e-global-typography-7044a64-word-spacing);
    }

    .elementor-417 .elementor-element.elementor-element-e5aa2c6 {
        padding: 2em 0em 2em 0em;
    }

    .elementor-417 .elementor-element.elementor-element-8fb7650 img {
        max-width: 100%;
        height: 200px;
    }

    .elementor-417 .elementor-element.elementor-element-9f3b16e>.elementor-element-populated {
        padding: 2em 2em 2em 2em;
    }

    .elementor-417 .elementor-element.elementor-element-e2c1df7>.elementor-element-populated {
        padding: 2em 2em 2em 2em;
    }

    .elementor-417 .elementor-element.elementor-element-18f4c93 {
        padding: 2em 0em 2em 0em;
    }

    .elementor-417 .elementor-element.elementor-element-5f9e742>.elementor-element-populated {
        padding: 2em 2em 2em 2em;
    }

    .elementor-417 .elementor-element.elementor-element-2999889 {
        padding: 2em 0em 2em 0em;
    }

    .elementor-417 .elementor-element.elementor-element-96a6659>.elementor-element-populated {
        padding: 2em 2em 2em 2em;
    }

    .elementor-417 .elementor-element.elementor-element-2dff3af {
        padding: 6em 0em 2em 0em;
    }

    .elementor-417 .elementor-element.elementor-element-3f57561>.elementor-element-populated {
        padding: 2em 2em 2em 2em;
    }

    .elementor-417 .elementor-element.elementor-element-191ff73 .elementskit-infobox .elementskit-info-box-title {
        font-size: var(--e-global-typography-83682a1-font-size);
        line-height: var(--e-global-typography-83682a1-line-height);
        letter-spacing: var(--e-global-typography-83682a1-letter-spacing);
        word-spacing: var(--e-global-typography-83682a1-word-spacing);
    }

    .elementor-417 .elementor-element.elementor-element-191ff73 .elementskit-infobox .box-body>p {
        font-size: var(--e-global-typography-b2ce6af-font-size);
        line-height: var(--e-global-typography-b2ce6af-line-height);
        letter-spacing: var(--e-global-typography-b2ce6af-letter-spacing);
        word-spacing: var(--e-global-typography-b2ce6af-word-spacing);
    }

    .elementor-417 .elementor-element.elementor-element-0d3eb96 .elementskit-infobox .elementskit-info-box-title {
        font-size: var(--e-global-typography-83682a1-font-size);
        line-height: var(--e-global-typography-83682a1-line-height);
        letter-spacing: var(--e-global-typography-83682a1-letter-spacing);
        word-spacing: var(--e-global-typography-83682a1-word-spacing);
    }

    .elementor-417 .elementor-element.elementor-element-0d3eb96 .elementskit-infobox .box-body>p {
        font-size: var(--e-global-typography-b2ce6af-font-size);
        line-height: var(--e-global-typography-b2ce6af-line-height);
        letter-spacing: var(--e-global-typography-b2ce6af-letter-spacing);
        word-spacing: var(--e-global-typography-b2ce6af-word-spacing);
    }

    .elementor-417 .elementor-element.elementor-element-f06d775 .elementskit-infobox .elementskit-info-box-title {
        font-size: var(--e-global-typography-83682a1-font-size);
        line-height: var(--e-global-typography-83682a1-line-height);
        letter-spacing: var(--e-global-typography-83682a1-letter-spacing);
        word-spacing: var(--e-global-typography-83682a1-word-spacing);
    }

    .elementor-417 .elementor-element.elementor-element-f06d775 .elementskit-infobox .box-body>p {
        font-size: var(--e-global-typography-b2ce6af-font-size);
        line-height: var(--e-global-typography-b2ce6af-line-height);
        letter-spacing: var(--e-global-typography-b2ce6af-letter-spacing);
        word-spacing: var(--e-global-typography-b2ce6af-word-spacing);
    }

    .elementor-417 .elementor-element.elementor-element-73e9241 {
        padding: 2em 0em 9em 0em;
    }
}

@media(min-width:768px) {
    .elementor-417 .elementor-element.elementor-element-c490dd5 {
        width: 30%;
    }

    .elementor-417 .elementor-element.elementor-element-9981b9a {
        width: 70%;
    }

    .elementor-417 .elementor-element.elementor-element-9f3b16e {
        width: 45%;
    }

    .elementor-417 .elementor-element.elementor-element-e2c1df7 {
        width: 55%;
    }

    .elementor-417 .elementor-element.elementor-element-a5beaf0{
		width: 33% !important;
	}
	.elementor-417 .elementor-element.elementor-element-f6d51b7{
		width: 40% !important;
	}
	.elementor-element-839b0da{
		width: 27% !important;
		padding-left: 4% !important;
	}
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-417 .elementor-element.elementor-element-9f3b16e {
        width: 100%;
    }

    .elementor-417 .elementor-element.elementor-element-e2c1df7 {
        width: 100%;
    }

    .elementor-417 .elementor-element.elementor-element-5f9e742 {
        width: 60%;
    }

    .elementor-417 .elementor-element.elementor-element-f65ee53 {
        width: 40%;
        margin: auto;
    }
}

.elementor-element-217a24a .elementor-element-populated {
    align-content: center;
}
.elementor-element-3a8cb68 h4{
    font-family: Heebo, Sans-serif;
    font-size: 24px;
}

@media only screen and (min-width: 600px) and (max-width: 1000px) {
    .elementor-417 .elementor-element.elementor-element-70b0d96{
        padding: 1em 0em 7em 0em;
    }
    .elementor-nav-menu--toggle .elementor-menu-toggle.elementor-active+.elementor-nav-menu__container{
		width: 700px !important;
		left: 21px !important;
	}
}
@media only screen and (max-width: 600px) {
    .elementor-417 .elementor-element.elementor-element-70b0d96{
        padding: 1em 0em 7em 0em;
    }
    .elementor-417 .elementor-element.elementor-element-70b0d96{
        background-position: bottom;
    }
    .elementor-206 .elementor-element.elementor-element-ea96a7d{
        padding: 35px !important;
    }
    .elementor-element-aaa00c1 .elementor-heading-title {
        text-align: center !important;
    }
    .elementor-417 .elementor-element.elementor-element-2dff3af{
        background-position: inherit !important;
        background-size: contain !important;
    }
    .elementor-nav-menu--toggle .elementor-menu-toggle.elementor-active+.elementor-nav-menu__container{
		width: 300px !important;
		left: 25px !important;
	}
    .elementor-417 .elementor-element.elementor-element-18f4c93 .elementor-container {
        flex-direction: column-reverse;
    }
    
}