.elementor-33 .elementor-element.elementor-element-394a1f2>.elementor-container>.elementor-column>.elementor-widget-wrap {
	align-content: center;
	align-items: center;
}

.elementor-33 .elementor-element.elementor-element-394a1f2:not(.elementor-motion-effects-element-type-background),
.elementor-33 .elementor-element.elementor-element-394a1f2>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #00316b;
}

.elementor-33 .elementor-element.elementor-element-394a1f2 {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 5px 5px 5px 5px;
}

.elementor-33 .elementor-element.elementor-element-394a1f2>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-33 .elementor-element.elementor-element-21cadd1>.elementor-element-populated {
	padding: 0px 0px 0px 0px;
}

.elementor-33 .elementor-element.elementor-element-14070be {
	text-align: left;
}

.elementor-33 .elementor-element.elementor-element-cccf079 .elementor-menu-toggle {
	margin: 0 auto;
	background-color: #011e3c;
}

.elementor-33 .elementor-element.elementor-element-cccf079 .elementor-nav-menu .elementor-item {
	font-family: var(--e-global-typography-520c191-font-family), Sans-serif;
	font-size: 20px;
	font-weight: var(--e-global-typography-520c191-font-weight);
	line-height: var(--e-global-typography-520c191-line-height);
	letter-spacing: var(--e-global-typography-520c191-letter-spacing);
	word-spacing: var(--e-global-typography-520c191-word-spacing);
}

.elementor-33 .elementor-element.elementor-element-cccf079 .elementor-nav-menu--main .elementor-item {
	color: var(--e-global-color-a291686);
	fill: var(--e-global-color-a291686);
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 16px;
	padding-bottom: 16px;
}

.elementor-33 .elementor-element.elementor-element-cccf079 .elementor-nav-menu--main .elementor-item:hover,
.elementor-33 .elementor-element.elementor-element-cccf079 .elementor-nav-menu--main .elementor-item.elementor-item-active,
.elementor-33 .elementor-element.elementor-element-cccf079 .elementor-nav-menu--main .elementor-item.highlighted,
.elementor-33 .elementor-element.elementor-element-cccf079 .elementor-nav-menu--main .elementor-item:focus {
	color: #fed000;
	fill: #fed000;
}

.elementor-33 .elementor-element.elementor-element-cccf079 {
	--e-nav-menu-horizontal-menu-item-margin: calc(32px / 2);
}

.elementor-33 .elementor-element.elementor-element-cccf079 .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal) .elementor-nav-menu>li:not(:last-child) {
	margin-bottom: 32px;
}

.elementor-33 .elementor-element.elementor-element-cccf079 .elementor-nav-menu--dropdown a,
.elementor-33 .elementor-element.elementor-element-cccf079 .elementor-menu-toggle {
	color: var(--e-global-color-dea41e4);
}

.elementor-33 .elementor-element.elementor-element-cccf079 .elementor-nav-menu--dropdown {
	background-color: var(--e-global-color-a291686);
	border-radius: 3px 3px 3px 3px;
}

.elementor-33 .elementor-element.elementor-element-cccf079 .elementor-nav-menu--dropdown a:hover,
.elementor-33 .elementor-element.elementor-element-cccf079 .elementor-nav-menu--dropdown a.elementor-item-active,
.elementor-33 .elementor-element.elementor-element-cccf079 .elementor-nav-menu--dropdown a.highlighted,
.elementor-33 .elementor-element.elementor-element-cccf079 .elementor-menu-toggle:hover {
	color: #fed000;
}

.elementor-33 .elementor-element.elementor-element-cccf079 .elementor-nav-menu--dropdown a:hover,
.elementor-33 .elementor-element.elementor-element-cccf079 .elementor-nav-menu--dropdown a.elementor-item-active,
.elementor-33 .elementor-element.elementor-element-cccf079 .elementor-nav-menu--dropdown a.highlighted {
	background-color: #0a3288;
}

.elementor-33 .elementor-element.elementor-element-cccf079 .elementor-nav-menu--dropdown .elementor-item,
.elementor-33 .elementor-element.elementor-element-cccf079 .elementor-nav-menu--dropdown .elementor-sub-item {
	font-family: var(--e-global-typography-520c191-font-family), Sans-serif;
	font-size: var(--e-global-typography-520c191-font-size);
	font-weight: var(--e-global-typography-520c191-font-weight);
	letter-spacing: var(--e-global-typography-520c191-letter-spacing);
	word-spacing: var(--e-global-typography-520c191-word-spacing);
}

.elementor-33 .elementor-element.elementor-element-cccf079 .elementor-nav-menu--dropdown li:first-child a {
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.elementor-33 .elementor-element.elementor-element-cccf079 .elementor-nav-menu--dropdown li:last-child a {
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}

.elementor-33 .elementor-element.elementor-element-cccf079 .elementor-nav-menu--main .elementor-nav-menu--dropdown,
.elementor-33 .elementor-element.elementor-element-cccf079 .elementor-nav-menu__container.elementor-nav-menu--dropdown {
	box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.1);
}

.elementor-33 .elementor-element.elementor-element-cccf079 div.elementor-menu-toggle {
	color: #ffcf00;
}

.elementor-33 .elementor-element.elementor-element-cccf079 div.elementor-menu-toggle svg {
	fill: #ffcf00;
}

.elementor-33 .elementor-element.elementor-element-cccf079 div.elementor-menu-toggle:hover {
	color: #fed000;
}

.elementor-33 .elementor-element.elementor-element-cccf079 div.elementor-menu-toggle:hover svg {
	fill: #fed000;
}

.elementor-33 .elementor-element.elementor-element-644ea4a .elementor-icon-list-icon i {
	color: var(--e-global-color-a185853);
	transition: color 0.3s;
}

.elementor-33 .elementor-element.elementor-element-644ea4a .elementor-icon-list-icon svg {
	fill: var(--e-global-color-a185853);
	transition: fill 0.3s;
}

.elementor-33 .elementor-element.elementor-element-644ea4a {
	--e-icon-list-icon-size: 14px;
	--icon-vertical-offset: 0px;
}

.elementor-33 .elementor-element.elementor-element-644ea4a .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-33 .elementor-element.elementor-element-644ea4a .elementor-icon-list-item>a {
	font-family: var(--e-global-typography-520c191-font-family), Sans-serif;
	font-size: var(--e-global-typography-520c191-font-size);
	font-weight: var(--e-global-typography-520c191-font-weight);
	line-height: var(--e-global-typography-520c191-line-height);
	letter-spacing: var(--e-global-typography-520c191-letter-spacing);
	word-spacing: var(--e-global-typography-520c191-word-spacing);
}

.elementor-33 .elementor-element.elementor-element-644ea4a .elementor-icon-list-text {
	color: var(--e-global-color-a291686);
	transition: color 0.3s;
}

@media(min-width:768px) {
	.elementor-33 .elementor-element.elementor-element-21cadd1 {
		width: 100%;
	}

	.elementor-33 .elementor-element.elementor-element-d877517 {
		width: 25%;
	}

	.elementor-33 .elementor-element.elementor-element-7f30b3d {
		width: 75%;
	}

	.elementor-33 .elementor-element.elementor-element-9fd8250 {
		width: 14.666%;
	}

	.elementor-33 .elementor-element.elementor-element-2c49dd2 {
		width: 20%;
	}
}

@media(max-width:1024px) and (min-width:768px) {
	.elementor-33 .elementor-element.elementor-element-21cadd1 {
		width: 40%;
	}

	.elementor-33 .elementor-element.elementor-element-d877517 {
		width: 75%;
	}

	.elementor-33 .elementor-element.elementor-element-7f30b3d {
		width: 25%;
	}

	.elementor-33 .elementor-element.elementor-element-9fd8250 {
		width: 26%;
	}

	.elementor-33 .elementor-element.elementor-element-2c49dd2 {
		width: 34%;
	}
}

@media(max-width:1024px) {
	.elementor-33 .elementor-element.elementor-element-394a1f2 {
		padding: 5px 5px 5px 5px;
	}

	.elementor-33 .elementor-element.elementor-element-14070be {
		text-align: left;
	}

	.elementor-33 .elementor-element.elementor-element-cccf079 .elementor-nav-menu .elementor-item {
		font-size: var(--e-global-typography-520c191-font-size);
		line-height: var(--e-global-typography-520c191-line-height);
		letter-spacing: var(--e-global-typography-520c191-letter-spacing);
		word-spacing: var(--e-global-typography-520c191-word-spacing);
	}

	.elementor-33 .elementor-element.elementor-element-cccf079 .elementor-nav-menu--dropdown .elementor-item,
	.elementor-33 .elementor-element.elementor-element-cccf079 .elementor-nav-menu--dropdown .elementor-sub-item {
		font-size: var(--e-global-typography-520c191-font-size);
		letter-spacing: var(--e-global-typography-520c191-letter-spacing);
		word-spacing: var(--e-global-typography-520c191-word-spacing);
	}

	.elementor-33 .elementor-element.elementor-element-cccf079 {
		--nav-menu-icon-size: 28px;
	}

	.elementor-33 .elementor-element.elementor-element-644ea4a .elementor-icon-list-item>.elementor-icon-list-text,
	.elementor-33 .elementor-element.elementor-element-644ea4a .elementor-icon-list-item>a {
		font-size: var(--e-global-typography-520c191-font-size);
		line-height: var(--e-global-typography-520c191-line-height);
		letter-spacing: var(--e-global-typography-520c191-letter-spacing);
		word-spacing: var(--e-global-typography-520c191-word-spacing);
	}
}

@media(max-width:767px) {
	.elementor-33 .elementor-element.elementor-element-d877517 {
		width: 80%;
	}

	.elementor-33 .elementor-element.elementor-element-14070be {
		text-align: right;
	}

	.elementor-33 .elementor-element.elementor-element-7f30b3d {
		width: 20%;
	}

	.elementor-33 .elementor-element.elementor-element-cccf079 .elementor-nav-menu .elementor-item {
		font-size: var(--e-global-typography-520c191-font-size);
		line-height: var(--e-global-typography-520c191-line-height);
		letter-spacing: var(--e-global-typography-520c191-letter-spacing);
		word-spacing: var(--e-global-typography-520c191-word-spacing);
	}

	.elementor-33 .elementor-element.elementor-element-cccf079 .elementor-nav-menu--dropdown .elementor-item,
	.elementor-33 .elementor-element.elementor-element-cccf079 .elementor-nav-menu--dropdown .elementor-sub-item {
		font-size: var(--e-global-typography-520c191-font-size);
		letter-spacing: var(--e-global-typography-520c191-letter-spacing);
		word-spacing: var(--e-global-typography-520c191-word-spacing);
	}

	.elementor-33 .elementor-element.elementor-element-cccf079 {
		--nav-menu-icon-size: 28px;
	}

	.elementor-33 .elementor-element.elementor-element-644ea4a .elementor-icon-list-item>.elementor-icon-list-text,
	.elementor-33 .elementor-element.elementor-element-644ea4a .elementor-icon-list-item>a {
		font-size: var(--e-global-typography-520c191-font-size);
		line-height: var(--e-global-typography-520c191-line-height);
		letter-spacing: var(--e-global-typography-520c191-letter-spacing);
		word-spacing: var(--e-global-typography-520c191-word-spacing);
	}
}

/* @media only screen and (max-width: 600px) {
	.elementor-33 .elementor-element.elementor-element-cccf079 .elementor-nav-menu__container.elementor-nav-menu--dropdown{
		width: 300px;
	}
} */